<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../timelineStyle.css">
</head>

<body>
    <header>

    </header>

    <div class="container">
        <div class="subcontain">
            <div class="leftgrid">

                <div class="item one">ONE Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
                <div class="item two">TWO Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
                <div class="item three">THREE Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
                <div class="item four">FOUR Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
                <div class="item five">FIVE Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
                <div class="item six">SIX Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
                <div class="item seven">SEVEN Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
                <div class="item eight">EIGHT Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
                <div class="item nine">NINE Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
                <div class="item ten">RIGHT CONTAINER Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa,
                    quos!</div>

                <div class="item one">ONE Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
                <div class="item two">TWO Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
                <div class="item three">THREE Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
                <div class="item four">FOUR Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
                <div class="item five">FIVE Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
                <div class="item six">SIX Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
                <div class="item seven">SEVEN Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
                <div class="item eight">EIGHT Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
                <div class="item nine">NINE Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
                <div class="item ten">RIGHT CONTAINER Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa,
                    quos!</div>

            </div>
        </div>

        <div class="subcontain2">

            <div class="make-post">
                <form action="" method="post" name="textform">
                    <textarea id="firsttextarea" style="resize: vertical; overflow: auto; height: auto; display:block;" name="post"
                        id="" cols="50" rows="3"></textarea>
                    <!-- <button type="submit">Post</button> -->
                    
                    <button type="submit" onclick="myFunction()" style="display:block;">Try it</button>
                </form>

            

            </div>

            <div class="incenter">

                <div class="itemcenter" style=" display:none;">

                    <div style="background-color:aqua;" class="post-head">
                        <div class="item1"">
                        <div class=" profilepic"
                            style="margin-left: 5px; width:37px; height: 100%; background-color:rgb(23, 0, 39); border-radius: 50%;">
                        </div>
                    </div>
                    <div class="item2 " style=" padding-left:3px; background-color:rgb(255, 0, 0)">
                        <div class="username">Username</div>
                        <div class="date">date of post</div>
                    </div>
                    <div class="item3" style="width:30px">OPT</div>

                </div>
                

                <div style="background-color:rgb(211, 66, 30)" class="post-body">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Quam quis blanditiis inventore saepe laboriosam maiores neque quod odit quaerat,
                    vel quos debitis ab, architecto ipsum impedit consequatur omnis pariatur similique optio mollitia
                    provident ducimus assumenda sunt. Quo sequi rem beatae culpa. Eius eum, aut provident voluptates
                    culpa modi cum ullam fugiat possimus dicta libero officia fuga. Enim quis repudiandae quasi nostrum
                    nulla dolorem cum quisquam necessitatibus iusto, similique error ad excepturi inventore! Velit
                    voluptas ea, ipsa odit fugiat sint? Ad ea assumenda laborum inventore error, aliquid aspernatur
                    omnis fugit dolorum? Suscipit rerum quis amet repellendus quos consequuntur, dignissimos omnis nam
                    voluptates odio aperiam ipsa asperiores iste error consectetur explicabo corrupti eos dolorem
                    voluptatem pariatur expedita! Accusamus nemo dolore, vero reiciendis consectetur necessitatibus
                    molestiae. Non repellat, tempore adipisci est architecto error quibusdam iste temporibus beatae
                    doloremque fuga quis. Doloribus nulla deleniti tempora quas placeat exercitationem magni
                    reprehenderit excepturi nesciunt recusandae, esse incidunt, corporis illum consequuntur ut
                    reiciendis officia amet molestias eaque eius iure. Placeat suscipit quod tenetur enim adipisci amet
                    dolorum ullam! Eaque explicabo numquam voluptatibus enim repudiandae, labore odit ratione accusamus
                    reiciendis laboriosam blanditiis consequuntur omnis inventore facilis quidem quisquam consectetur
                    saepe odio ipsa! Reiciendis, qui. Aut nisi est repudiandae.</div>

                <div style="background-color:rgb(6, 66, 66)" class="post-reaction-numbers">
                    <div class="num-of-likes">0</div>
                    <div class="like-num">likes</div>
                    <div class="num-of-comments">0</div>
                    <div class="comment-num">comments</div>
                </div>

                <div style="background-color:rgb(19, 145, 14)" class="post-like-comment">
                    <div class="like">LIKE</div>
                    <div class="comment">COMMENT</div>
                </div>

                <div style="background-color:aqua;" class="comments">
                    <div class="item1"">
                        <div class=" profilepic"
                        style="margin-left: 5px; width:37px; height: 100%; background-color:rgb(23, 0, 39); border-radius: 50%;">
                    </div>
                </div>
                <div class="item2 " style=" padding-left:3px; background-color:rgb(255, 0, 0)">
                    <div class="username">Username</div>
                    <div class="date">COMMENT</div>
                </div>
                <div class="item3">OPT</div>

            </div>

            <div style="background-color:aqua;" class="comment-text-input">
                <div class="item1"">
                    <div class=" profilepic"
                    style="margin-left: 5px; width:37px; height: 100%; background-color:rgb(23, 0, 39); border-radius: 50%;">
                </div>
            </div>
            <div class="item2 " style=" padding-left:3px; background-color:rgb(129, 39, 39)">
                <div class="username">Username</div>
                <div class="date">COMMENT</div>
            </div>


        </div>

    </div>

    <!-- <div class="itemcenter">
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil iusto quis non ex rem magnam
            voluptas ipsum sunt explicabo fugiat suscipit libero dolores eaque praesentium maiores, eos ducimus
            amet vel. Officiis facere dolorem est natus, voluptatem pariatur sunt ea ex eligendi nesciunt
            ratione deserunt possimus perferendis iste asperiores repudiandae vitae rem cum harum provident,
            quibusdam dolorum. Cumque placeat dolores, ipsam expedita magnam odio praesentium animi sapiente
            atque repudiandae aperiam temporibus nam nihil, dolor reiciendis ipsa, pariatur accusamus libero
            maiores vitae neque aut architecto quod doloremque. Excepturi at omnis repellendus, ea unde aliquid
            minima saepe, amet porro sequi natus quisquam suscipit.</div>
    </div>
    <div class="itemcenter">
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil iusto quis non ex rem magnam
            voluptas ipsum sunt explicabo fugiat suscipit libero dolores eaque praesentium maiores, eos ducimus
            amet vel. Officiis facere dolorem est natus, voluptatem pariatur sunt ea ex eligendi nesciunt
            ratione deserunt possimus perferendis iste asperiores repudiandae vitae rem cum harum provident,
            quibusdam dolorum. Cumque placeat dolores, ipsam expedita magnam odio praesentium animi sapiente
            atque repudiandae aperiam temporibus nam nihil, dolor reiciendis ipsa, pariatur accusamus libero
            maiores vitae neque aut architecto quod doloremque. Excepturi at omnis repellendus, ea unde aliquid
            minima saepe, amet porro sequi natus quisquam suscipit.</div>
    </div>
    <div class="itemcenter">
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil iusto quis non ex rem magnam
            voluptas ipsum sunt explicabo fugiat suscipit libero dolores eaque praesentium maiores, eos ducimus
            amet vel. Officiis facere dolorem est natus, voluptatem pariatur sunt ea ex eligendi nesciunt
            ratione deserunt possimus perferendis iste asperiores repudiandae vitae rem cum harum provident,
            quibusdam dolorum. Cumque placeat dolores, ipsam expedita magnam odio praesentium animi sapiente
            atque repudiandae aperiam temporibus nam nihil, dolor reiciendis ipsa, pariatur accusamus libero
            maiores vitae neque aut architecto quod doloremque. Excepturi at omnis repellendus, ea unde aliquid
            minima saepe, amet porro sequi natus quisquam suscipit.</div>
    </div>
    <div class="itemcenter">
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil iusto quis non ex rem magnam
            voluptas ipsum sunt explicabo fugiat suscipit libero dolores eaque praesentium maiores, eos ducimus
            amet vel. Officiis facere dolorem est natus, voluptatem pariatur sunt ea ex eligendi nesciunt
            ratione deserunt possimus perferendis iste asperiores repudiandae vitae rem cum harum provident,
            quibusdam dolorum. Cumque placeat dolores, ipsam expedita magnam odio praesentium animi sapiente
            atque repudiandae aperiam temporibus nam nihil, dolor reiciendis ipsa, pariatur accusamus libero
            maiores vitae neque aut architecto quod doloremque. Excepturi at omnis repellendus, ea unde aliquid
            minima saepe, amet porro sequi natus quisquam suscipit.</div>
    </div>
    <div class="itemcenter">
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil iusto quis non ex rem magnam
            voluptas ipsum sunt explicabo fugiat suscipit libero dolores eaque praesentium maiores, eos ducimus
            amet vel. Officiis facere dolorem est natus, voluptatem pariatur sunt ea ex eligendi nesciunt
            ratione deserunt possimus perferendis iste asperiores repudiandae vitae rem cum harum provident,
            quibusdam dolorum. Cumque placeat dolores, ipsam expedita magnam odio praesentium animi sapiente
            atque repudiandae aperiam temporibus nam nihil, dolor reiciendis ipsa, pariatur accusamus libero
            maiores vitae neque aut architecto quod doloremque. Excepturi at omnis repellendus, ea unde aliquid
            minima saepe, amet porro sequi natus quisquam suscipit.</div>
    </div>
    <div class="itemcenter">
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil iusto quis non ex rem magnam
            voluptas ipsum sunt explicabo fugiat suscipit libero dolores eaque praesentium maiores, eos ducimus
            amet vel. Officiis facere dolorem est natus, voluptatem pariatur sunt ea ex eligendi nesciunt
            ratione deserunt possimus perferendis iste asperiores repudiandae vitae rem cum harum provident,
            quibusdam dolorum. Cumque placeat dolores, ipsam expedita magnam odio praesentium animi sapiente
            atque repudiandae aperiam temporibus nam nihil, dolor reiciendis ipsa, pariatur accusamus libero
            maiores vitae neque aut architecto quod doloremque. Excepturi at omnis repellendus, ea unde aliquid
            minima saepe, amet porro sequi natus quisquam suscipit.</div>
    </div>
    <div class="itemcenter">
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil iusto quis non ex rem magnam
            voluptas ipsum sunt explicabo fugiat suscipit libero dolores eaque praesentium maiores, eos ducimus
            amet vel. Officiis facere dolorem est natus, voluptatem pariatur sunt ea ex eligendi nesciunt
            ratione deserunt possimus perferendis iste asperiores repudiandae vitae rem cum harum provident,
            quibusdam dolorum. Cumque placeat dolores, ipsam expedita magnam odio praesentium animi sapiente
            atque repudiandae aperiam temporibus nam nihil, dolor reiciendis ipsa, pariatur accusamus libero
            maiores vitae neque aut architecto quod doloremque. Excepturi at omnis repellendus, ea unde aliquid
            minima saepe, amet porro sequi natus quisquam suscipit.</div>
    </div>
    <div class="itemcenter">
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil iusto quis non ex rem magnam
            voluptas ipsum sunt explicabo fugiat suscipit libero dolores eaque praesentium maiores, eos ducimus
            amet vel. Officiis facere dolorem est natus, voluptatem pariatur sunt ea ex eligendi nesciunt
            ratione deserunt possimus perferendis iste asperiores repudiandae vitae rem cum harum provident,
            quibusdam dolorum. Cumque placeat dolores, ipsam expedita magnam odio praesentium animi sapiente
            atque repudiandae aperiam temporibus nam nihil, dolor reiciendis ipsa, pariatur accusamus libero
            maiores vitae neque aut architecto quod doloremque. Excepturi at omnis repellendus, ea unde aliquid
            minima saepe, amet porro sequi natus quisquam suscipit.</div>
    </div>
    <div class="itemcenter">
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil iusto quis non ex rem magnam
            voluptas ipsum sunt explicabo fugiat suscipit libero dolores eaque praesentium maiores, eos ducimus
            amet vel. Officiis facere dolorem est natus, voluptatem pariatur sunt ea ex eligendi nesciunt
            ratione deserunt possimus perferendis iste asperiores repudiandae vitae rem cum harum provident,
            quibusdam dolorum. Cumque placeat dolores, ipsam expedita magnam odio praesentium animi sapiente
            atque repudiandae aperiam temporibus nam nihil, dolor reiciendis ipsa, pariatur accusamus libero
            maiores vitae neque aut architecto quod doloremque. Excepturi at omnis repellendus, ea unde aliquid
            minima saepe, amet porro sequi natus quisquam suscipit.</div>
    </div>
    <div class="itemcenter">
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil iusto quis non ex rem magnam
            voluptas ipsum sunt explicabo fugiat suscipit libero dolores eaque praesentium maiores, eos ducimus
            amet vel. Officiis facere dolorem est natus, voluptatem pariatur sunt ea ex eligendi nesciunt
            ratione deserunt possimus perferendis iste asperiores repudiandae vitae rem cum harum provident,
            quibusdam dolorum. Cumque placeat dolores, ipsam expedita magnam odio praesentium animi sapiente
            atque repudiandae aperiam temporibus nam nihil, dolor reiciendis ipsa, pariatur accusamus libero
            maiores vitae neque aut architecto quod doloremque. Excepturi at omnis repellendus, ea unde aliquid
            minima saepe, amet porro sequi natus quisquam suscipit.</div>
    </div>
    <div class="itemcenter">
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil iusto quis non ex rem magnam
            voluptas ipsum sunt explicabo fugiat suscipit libero dolores eaque praesentium maiores, eos ducimus
            amet vel. Officiis facere dolorem est natus, voluptatem pariatur sunt ea ex eligendi nesciunt
            ratione deserunt possimus perferendis iste asperiores repudiandae vitae rem cum harum provident,
            quibusdam dolorum. Cumque placeat dolores, ipsam expedita magnam odio praesentium animi sapiente
            atque repudiandae aperiam temporibus nam nihil, dolor reiciendis ipsa, pariatur accusamus libero
            maiores vitae neque aut architecto quod doloremque. Excepturi at omnis repellendus, ea unde aliquid
            minima saepe, amet porro sequi natus quisquam suscipit.</div>
    </div> -->

    </div>
    </div>

    <div class="subcontain">
        <div class="rightgrid">

            <div class="item one">ONE Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
            <div class="item two">TWO Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
            <div class="item three">THREE Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
            <div class="item four">FOUR Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
            <div class="item five">FIVE Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
            <div class="item six">SIX Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
            <div class="item seven">SEVEN Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
            <div class="item eight">EIGHT Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
            <div class="item nine">NINE Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
            <div class="item ten">RIGHT CONTAINER Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!
            </div>

            <div class="item one">ONE Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
            <div class="item two">TWO Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
            <div class="item three">THREE Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
            <div class="item four">FOUR Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
            <div class="item five">FIVE Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
            <div class="item six">SIX Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
            <div class="item seven">SEVEN Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
            <div class="item eight">EIGHT Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
            <div class="item nine">NINE Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!</div>
            <div class="item ten">RIGHT CONTAINER Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, quos!
            </div>

        </div>


    </div>
    </div>
    <script>
        function myFunction() {
            var elmnt = document.getElementsByClassName("itemcenter")[0];
            var cln = elmnt.cloneNode(true);
            cln.style.display = "block";
            var c = document.getElementById("firsttextarea").value;

            cln.children[1].innerHTML = c;
            var elmnt2 = document.getElementsByClassName("incenter")[0];
            document.textform.firsttextarea.value="";

            elmnt2.appendChild(cln);
        };
    </script>
</body>

</html>